.no-js .slide_loading {
  width: 100%;
  height: 100%;
  min-height: 300px;
  background: transparent url(../img/loading.gif.html) no-repeat center;
}
.slide_loading img {
  width: 100%;
  height: auto;
}
.vitara_slide_in {
  width: 100%;
  position: relative;
  letter-spacing: 1.2px;
  overflow: hidden;
}
.vitara_slide_in .vitara_slide {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.vitara_slide_in .vitara_slide ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.vitara_slide_in .vitara_slide ul li {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.vitara_slide_in .vitara_slide ul li a {
  display: block;
  text-align: center;
  position: static;
  width: 100%;
  height: 100%;
}
.vitara_slide_in .vitara_slide ul li a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
}
.vitara_slide_in .vitara_slide ul li a:hover:after {
  opacity: 1;
  visibility: visible;
}
/*
.vitara_slide_in .vitara_slide ul li a:hover img {
  transform: scale(1.02);
}
*/
.vitara_slide_in .vitara_slide ul li img {
  display: block;
  marign: 0 auto;
  position: absolute;
  left: 50%;
  max-width: none;
  top: 0;
  transition: all .2s;
}
.vitara_slide_in .vitara_slide ul li h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 20px;
  margin: 0;
  font-size: 16px;
  color: #fff;
  text-align: left;
  font-weight: bold;
  text-shadow: 0 1px 3px #525252;
  box-sizing: border-box;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
  background: linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
}
.vitara_slide_in .vitara_slide ul li h3 .label {
  background: #fff;
  color: #525252;
  margin-right: 10px;
  text-shadow: 0 1px 1px #eee;
  box-shadow: 0 1px 1px #666;
  -moz-box-shadow: 0 1px 1px #666;
  -webkit-box-shadow: 0 1px 1px #666;
  font-size: 14px;
  padding: 2px 2px 2px 4px;
  border-radius: 3px;
}
.vitara_slide_in .slide_btn {
  display: none;
  text-align: center;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 0;
}
.vitara_slide_in .slide_btn i {
  padding: 20px 5px;
  background: #999;
  background: rgba(0, 0, 0, 0.1);
}
.vitara_slide_in .slide_btn:hover i {
  background: #333;
  background: rgba(0, 0, 0, 0.3);
}
.vitara_slide_in .slide_prev {
  left: 0;
}
.vitara_slide_in .slide_next {
  right: -0.5px;
}
.vitara_slide_in .extra {
  width: 100%;
  position: absolute;
  right: 10px;
  bottom: 0;
  z-index: 2;
}
.vitara_slide_in .extra ul {
  padding: 0;
  margin: 0;
  text-align: right;
  overflow: hidden;
}
.vitara_slide_in .extra ul li {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  height: 5px;
  width: 8px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 5px 5px;
  border-radius: 10px;
}
.vitara_slide_in .extra ul li span,
.vitara_slide_in .extra ul li .sign,
.vitara_slide_in .extra ul li .num,
.vitara_slide_in .extra ul li img {
  display: none;
}
.vitara_slide_in .extra ul li:hover,
.vitara_slide_in .extra ul li.current {
  background: #ffffff;
}
.vitara_slide_in .extra ul li.current {
  height: 5px;
  width: 18px;
}
.vitara_slide_in:hover .slide_btn {
  display: block;
}
